@model List<WebApi.ToDoTask>

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Search" asp-route-sort="@ViewData["title"]" asp-route-title_search="@ViewData["CurrentFilter"]">Title</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sort="@ViewData["description"]" asp-route-title_search="@ViewData["CurrentFilter"]">Description</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sort="@ViewData["taskimportance"]" asp-route-title_search="@ViewData["CurrentFilter"]">Importance</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sort="@ViewData["date"]" asp-route-title_search="@ViewData["CurrentFilter"]">Date</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sort="@ViewData["isactive"]" asp-route-title_search="@ViewData["CurrentFilter"]">IsCompleted</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sort="@ViewData["CreateDate"]" asp-route-title_search="@ViewData["CurrentFilter"]">CreateDate</a>
            </th>
            <th>
                IsMultipleTask
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taskimportance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-controller="TaskLists" asp-action="Complet" asp-route-id="@item.ToDoTaskId">Complet</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMultipleTask)
                </td>
                <td>
                    <a asp-action="EditTask" asp-route-id="@item.ToDoTaskId">Edit</a> |
                    <a asp-action="DeleteTask" asp-route-id="@item.ToDoTaskId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>